main {
    display: block;
    max-width: 1300px;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.681);
    padding: 30px 50px 30px 50px;
    margin: 100px auto 30px auto;
    height: 100%;
    width: 100%;
    color: #000000;
}

h1, .legenda {
    text-align: center;
}

h1 {
    padding-bottom: 30px;
}

.legenda {
    font-size: 18px;
}

hr {
	border: 0;
	border-top: 1px solid #000000;
}

h2, h3 {
    text-align:left;
    padding: 15px 0 0 0;
}

p, li {
    padding: 2% 0;
    font-size: 20px;
    text-align: justify;
}

ul {
    padding-left: 10%;
}

.pesquisa-imagem {
    margin: auto;
    display: block;
    padding: 10px;
    height: 50%;
    width: 50%;
}

/*Botões de voltar e próximo*/
.link-proximo, .link-voltar, .legenda-proximo, .legenda-proximo-energia-geotermica {
    position:fixed;
    margin: 0;
    padding: 0;
}

.link-proximo, .legenda-proximo, .legenda-proximo-energia-geotermica {
    transform: translate(-50%,-50%);
}

.legenda-proximo, .legenda-proximo-energia-geotermica {
    font-size: 17px;
    text-align: center;
    color: #fff;
}

.link-voltar {
    top: 110px;
    left: 30px;
}

.link-proximo {
    rotate: 180deg;
    padding: 15px;
    top: 72%;
    left: 91%;
    border-radius: 100%;
}

.img-proximo {
    height: 50px;
    width: 50px;
}

.img-voltar {
    height: 50px;
    width: 50px;
}

.legenda-proximo {
    top: 90%;
    left: 96.2%;
}

.legenda-proximo-energia-geotermica {
    top: 80%;
    left: 93%;
}