* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(-125deg, #047800c3, #93cf06c3);
}

.tabela
{
    background-color: rgba(46, 88, 129, 0);
    margin-left: 250px;
    font-size: 20px;
    width: 700px;
    height: 100px;
}

fieldset
{
  width: 400px;
  height: 100%;
  background-color: rgba(164, 199, 146, 0.84);
  color: rgb(0, 0, 0);
  text-align: center;
  resize: none;
}

#form
{
    background-color: black;
}

td,th
{
  text-align: center;
  border: 1px solid black;

}

textarea
{
  resize: none;
  width: 80%;
}

/*Botões de voltar e próximo*/
.link-proximo, .link-voltar, .legenda-proximo, .legenda-proximo-energia-geotermica,.img-proximo {
  position:fixed;
  margin: 0;
  padding: 0;
}

.link-proximo, .legenda-proximo, .legenda-proximo-energia-geotermica {
  transform: translate(-50%,-50%);
}

.legenda-proximo, .legenda-proximo-energia-geotermica {
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-indent: 0;
}

.img-voltar {
  height: 50px;
  width: 50px;
}

.link-voltar {
  top: 200px;
  left: 45px;
}

/*Botão próximo*/
.img-proximo {
  height: 50px;
  width: 50px;
}

.link-proximo {
  rotate: 180deg;
  top: 85.8%;
  left: 97.8%;
}

.legenda-proximo {
  top: 88.5%;
  left: 96.4%;
}

/*Legenda da página energia.geotermica.html*/
.legenda-proximo-energia-geotermica {
  top: 91.5%;
  left: 96.45%;
}

