* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(-125deg, #047800c3, #93cf06c3);
}

.tabela
{
    background-color: rgba(46, 88, 129, 0);
    margin-left: 250px;
    font-size: 20px;
    width: 700px;
    height: 100px;
}