* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", "Helvetica", sans-serif;
}

body {
    min-height: 100vh;    
}

main {
    display: block;
    max-width: 1000px;
    min-width: 400px;
    background-color: rgb(208, 208, 208);
    padding: 30px 50px 30px 50px;
    margin: 200px auto 0 auto;
    height: 100%;
    width: 100%;
    color: #000000;
}

h1, .legenda {
    text-align: center;
}

h1 {
    padding-bottom: 30px;
}

.legenda {
    font-size: 15px;
}

hr {
	border: 0;
	border-top: 1px solid #000000;
}

h2 {
    text-align:left;
    padding: 15px 0 0 0;
}

p, li {
    padding: 2% 0 ;
    font-size: 18px;
    text-align: justify;
}

ul {
    padding-left: 10%;
}

.pesquisa-imagem {
    margin: auto;
    display: block;
    padding: 10px;
    height: 50%;
    width: 50%;
}

.link-proximo, .link-voltar, .legenda-proximo, .legenda-energia-geotermica {
    text-decoration: none;
    position:fixed;
    margin: 0;
    padding: 0;
}

.link-voltar {
    top: 110px;
    left: 65px;
}

.link-proximo {
    background-color: rgb(208, 208, 208);
    padding: 15px;
    top: 500px;
    left: 1255px;
    border-radius: 100%;
}

.img-proximo {
    height: 40px;
    width: 40px;
}

.img-voltar {
    height: 50px;
    width: 50px;
}

.legenda-proximo {
    font-size: 18px;
    text-align: center;
    top: 600px;
    left: 1290px;
    transform: translate(-50%,-50%);
}

.legenda-energia-geotermica {
    font-size: 18px;
    text-align: center;
    top: 620px;
    left: 1290px;
    transform: translate(-50%,-50%);
}